@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&display=swap");

* {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.box {
  background-color: blue;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 85px;
}

.grid {
  grid-template-columns: repeat(3, 125px);
  grid-template-rows: repeat(3, 125px);
  display: grid;
  gap: 5px;
  padding-bottom: 30px;
}

.board {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.container {
  align-self: center;
  justify-self: center;
}

h1 {
  text-align: center;
  color: blue;
}

.btn {
  background-color: blue;
  border: thick double white;
  color: white;
  width: 385px;
  height: 60px;
  font-size: 30px;
}

blink {
  -webkit-animation: 1s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
  animation: 1s linear infinite condemned_blink_effect;
}

/* for Safari 4.0 - 8.0 */
@-webkit-keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
